.pr-topnav {
  background: red;
  & .container {
    display: grid;
    grid-template-columns: 30% 20% 50%;
  }

  &__logo {
    & h1 {
      margin: 0;
    }
  }
  &__links {
    & li {
      display: inline;
      margin-right: 20px;
    }
  }
}
